@use '@common' as *;

.wrap{
  background: var(--bg-gray);
  width: 100%;
  &__in{
    display: flex;
    flex-direction: column;
  }
}
.bg{
  &__in{
    &Top{
      background: var(--bg);
      color: #fff;
      padding: 4rem 0;
      &In{
        display: flex;
        flex-direction: column;
        gap: 3rem;
      }
    }
  }
}
.filters{
  background: var(--bg-white);
  top: 0;
  z-index: 11;
  position: sticky;
  box-shadow: 0 0 0.4rem rgb(0, 0, 0, 0.2);
  &__in{
    width: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
  }
  &__left{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex: 1 1 auto;
  }
  &__right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__network{
    width: 100%;
    max-width: 25%;
    min-width: 30rem;
  }
  .filters__search {
    width: 20rem;
    transition: width 0.4s ease-out;
    max-width: 40rem;

    &:focus-within {
      width: 100%;
    }
  }

  .email__emailInput {
    width: 100%;
  }
}
.content{
  padding-bottom: 3rem;
}
