@use '@common' as *;

.wrap {
	padding: 2rem;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	pointer-events: none;

	&__fixed {
		position: fixed;
	}
}
