@use '@common' as *;
@use '@mixins' as *;

.wrap {
	@include noneSelect;
	display: inline-flex;
	align-items: center;
	gap: 1rem;
	color: #fff;
	&__icon{
		display: flex;
		align-items: center;
		width: 4rem;
		svg{
			transition: .4s;
			width: 100%;
			height: auto;
			fill: var(--bg-white-900);
			stroke: var(--bg-white-900);
		}
	}
	&:hover {
		.wrap__icon {
			svg {
				fill: #fff;
				stroke: #fff;
				transform: rotate(45deg);
			}
		}
	}
	&__txt{
		@include Body-1-Medium;
		font-size: 2.4rem;
		position: relative;
		top: 1px;
		span{
			color: var(--bg-white-900);
			font-size: 2rem;
		}
	}
}
