* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	display: flex;
	min-width: 320px;
	min-height: 100vh;
	margin: 0;
	font-size: 1.4rem;
	place-items: center;
}

#root {
	width: 100%;
	min-height: 100vh;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 6px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}


iframe {
	background-color: #130d18 !important;
}
