@use '@mixins' as *;

.wrap{
  @include noneSelect;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.languageBtn {
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--mantine-color-white);
  opacity: 0.5;

  &:hover {
    opacity: 1;
    background-color: transparent;
  }

  &[data-active="true"] {
    opacity: 1;
    background-color: transparent;
  }


  &[class*='mantine-Button-inner'] {
    gap: 12rem;
  }

  img {
    width: 2rem;
    height: auto;
    object-fit: contain;
  }
}

.backBtn {
  padding: 0;
  background: none;
  border: none;
  color: var(--mantine-color-white);
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.2s ease;

  &Disabled{
    cursor: default;
    opacity: 0.3;
    text-decoration: none !important;
  }
  &:hover {
    text-decoration: underline;
  }

  // Если нужно переопределить стили Mantine
  &[class*='mantine-UnstyledButton-root'] {
    padding: 0;
  }
}
