.btn{
  background: orange;
  color: #000;
}
.input{
  height: 40px;
  padding: 0 10px;
  max-width: 1000px;
  width: 100%;
}
.user{
  display: flex;
  gap: 12px;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
}
