// StyledTable.module.scss
.tableContainer {
  width: 100%;
}

.table {
  width: 100%;

  th {
    padding: 3.2rem 1.2rem 1.2rem;
    width: 34%;
    position: sticky;
    top: 6rem;
    background: var(--bg-gray);
    z-index: 1;
    text-align: left;
  }
}

.tableRow {
  background-color: var(--bg-white);
  cursor: pointer;
  transition: background-color 0.2s ease;
  min-height: 7rem;
  height: 7rem;

  &:hover {
    background-color: #d0d0d0;
  }

  td {
    padding: 12px;
  }
}

.rowContent {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  height: 100%;

  div {
    flex: 1;
    display: flex;
    align-items: center;
  }
}

.expandedRow {
  background-color: transparent !important;
  cursor: default !important;
  overflow: hidden;

  td {
    overflow: hidden;
    padding: 0;
  }
}
.expanded{
  padding: 0;
  height: .4rem;
  &__content {
   padding: 1.6rem;
   background: #f5f5f5;
   will-change: height;
   transform-origin: top;
   margin-bottom: 1rem;
  }
}
