@use '@common' as *;

.wrap {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 1.4rem 2.8rem;
	background: rgb(255, 255, 255, .85);
	color: #333;
	border-radius: 1.2rem;
	gap: .8rem;
	&__title{
		@include H5-Medium;
	}
	&__desc{
		@include Body-2-Regular;
		flex: 1 1 auto;
	}
	&__value{
		@include H5-Medium;
	}
}
