@use '@common' as *;

.wrap {
  height: inherit;
  align-items: stretch;
  display: flex;
  width: 100%;
  padding: 1rem 0;
  overflow: hidden;
  transition: padding 0.3s ease-in-out;

  &_login {
    padding: 0;
  }
  &__in {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;
    gap: 2rem;
  }

  &__left {
    position: relative;
    width: 30rem;
    //flex: 0 0 auto;
    background: #1470D8;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out;

    &_login {
      max-width: 40%;
      width: 50rem;
      border-radius: 0;
    }

    &Bg {
      pointer-events: none;
      position: absolute;
      right: 90%;
      width: 1000rem;
      top: 0;
      bottom: 0;
      background: #1470D8;
      &Hide{
        will-change: transform;
        width: 10rem;
        animation: slideIn 1.4s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
        right: 0;
        transform: translateX(8rem);
      }
    }
    &Content{
      position: relative;
      z-index: 1;
      height: 100%;
    }
  }

  &__right {
    flex: 1 1 auto;
    min-width: 0;
    position: relative;
  }

}

@keyframes slideIn {
  from {
    transform: translateX(8rem);
  }
  to {
    transform: translateX(0);
  }
}

.gradientWrapper {
  overflow: hidden;
  position: absolute;
  top: 50%;
  right: 0;
  width: 100%;
  -webkit-mask-image: linear-gradient(to right, transparent, white);
  mask-image: linear-gradient(to right, transparent, white);
  display: flex;
  justify-content: center;
  transform: translateY(-50%); // Добавили центрирование по вертикали
}

.icon {
  transform: translateX(20rem);
  fill: rgb(255 255 255 / 33%);
  display: block;
  width: auto;
  height: 35rem;
  -webkit-mask-image: linear-gradient(
                  to right,
                  transparent 0%,
                  rgba(255,255,255, 0.2) 20%,
                  rgba(255,255,255, 0.5) 50%,
                  rgba(255,255,255, 0.8) 80%,
                  white 100%
  );
  mask-image: linear-gradient(
                  to right,
                  transparent 0%,
                  rgba(255,255,255, 0.2) 20%,
                  rgba(255,255,255, 0.5) 50%,
                  rgba(255,255,255, 0.8) 80%,
                  white 100%
  );
}
