@use '@common' as *;

.wrap {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__head {
    top: 0;
    z-index: 10;
    position: sticky;
    //box-shadow: 0 0 0.1rem rgb(0, 0, 0, 0.1);
    flex: 0 0 auto;
    overflow: hidden;
  }

  &__body {
    flex: 1 1 auto;
    display: flex;
    position: relative;
    height: inherit;
    &Content{
      flex: 1 1 auto;
      height: inherit;
      display: flex;
      & > *{
        width: 100%;
      }
    }
  }

  &__footer {
    flex: 0 0 auto;
    overflow: hidden;
  }
}
