@use '@common' as *;

.rootScroll {}

.wrap {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__head {
    flex: 0 0 auto;
    overflow: hidden;
  }

  &__body {
    flex: 1 1 auto;
    display: flex;
  }

  &__footer {
    flex: 0 0 auto;
    overflow: hidden;
  }
}
