@use '@common' as *;

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;

  th {
    text-align: left;
    background: var(--mantine-color-white);
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 12px;
  }

  td {
    background: #ddd;
    vertical-align: top;
    padding: 12px;
    margin-bottom: 1px;
  }

  tr {
    transform: translateZ(0); // Оптимизация рендеринга
    will-change: transform; // Подсказка браузеру об анимациях
  }
  tbody {
    tr {
      transition: transform 0.2s ease-out;

      &:hover {
        background-color: var(--mantine-color-gray-0);
      }
    }
  }
}

.nodeCell {
  display: flex;
  align-items: center;
  gap: 8px;

  &Icon {
    width: 32px;
    height: 32px;
    background: #eee;
    border-radius: 50%;
  }

  &Info {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &Stats {
    display: flex;
    gap: 8px;

    &Active {
      color: var(--mantine-color-green-6);
    }

    &Inactive {
      color: var(--mantine-color-red-6);
    }
  }
}

.requests {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.endpoints {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
