// Breakpoint values
$beakPoint-desktop--big-number: 1420;
$beakPoint-desktop--small-number: 1280;
$beakPoint-table--big-number: 960;
$beakPoint-table--small-number: 768;
$beakPoint-mobile--big-number: 480;
$beakPoint-mobile--small-number: 360;

// Mixin for desktop big screens and below (< 1420px)
@mixin Media-Desktop-Big() {
	@media (max-width: #{$beakPoint-desktop--big-number - 1}px) {
		@content;
	}
}

// Mixin for desktop small screens and below (< 1280px)
@mixin Media-Desktop-Small() {
	@media (max-width: #{$beakPoint-desktop--small-number - 1}px) {
		@content;
	}
}

// Mixin for tablet big screens and below (< 960px)
@mixin Media-Table-Big() {
	@media (max-width: #{$beakPoint-table--big-number - 1}px) {
		@content;
	}
}

// Mixin for tablet small screens and below (< 768px)
@mixin Media-Table-Small() {
	@media (max-width: #{$beakPoint-table--small-number - 1}px) {
		@content;
	}
}

// Mixin for mobile big screens and below (< 480px)
@mixin Media-Mobile-Big() {
	@media (max-width: #{$beakPoint-mobile--big-number - 1}px) {
		@content;
	}
}

// Mixin for mobile small screens and below (<= 360px)
@mixin Media-Mobile-Small() {
	@media (max-width: #{$beakPoint-mobile--small-number - 1}px) {
		@content;
	}
}
